*.pyc
/data/collisionDetection/*.pickle
/gurobi.log
/data/raw
/data/processed
/data/mnist_simplemlp.pickle
/data/cifar-10-batches-py
/data/cifar10_simplemlp.pickle
/data/cifar-10-python.tar.gz
/data/cifar-100-python
/data/cifar-100-python.tar.gz
